body {
    background-image: url("https://wallpaperaccess.com/download/pastel-space-aesthetic-computer-84248");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-size: 20px;
    width: 400px;
    margin: auto;
    padding: 10% 0 10% 0;
}

label {
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    color: ivory;
    font-size: 26px;
    width: 100%;
    margin: auto
}

input {
    text-align:center;
    font-size: 22px;
    width: auto;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
}

button {
    font-size: 15px;
    background-color: #381838;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 5%;
    opacity: 0.9;
    border-radius: 20px;
    width: 23%;
    margin: auto
}

div {
    text-align: center;
    font-size: 26px;
    color: white;
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 35px;
    text-align: center;
    color: ivory;
    text-shadow: 5px 5px #553355;
}

fieldset {
    padding: 1em;
    border:5px solid #553355;
}

hr {
    border:2px solid #553355;
}